.fundraiser-details button{
    border: 1px solid #f3613c !important;
    background: transparent !important;
}

.fundraiser-details button:hover{
    border: 1px solid #f3613c !important;
    color: #fff !important;
    background: #f3613c !important;
}

.fundraiser-details .img-container{
    position: relative;
    height: 400px;
}

.fundraiser-details .img-container img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.fundraiser-details p{
    line-height: 30px;
}

@media (max-width: 535px) {
    .fundraiser-details .img-container{
        height: 300px;
    }
     
}