:root{

  /********* Colors  *********/
  --Light-Green: #bfdf32;
  --Very-dark-blue: #15242b;
  --Orange: #f3613c;
  --White: #fff;

  /********** Fonts  **********/
  --Font-weight: 700;
}

*{
  transition: 0.3s;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: var(--Font-weight) !important;
}



/************* Navbar component styling  *************/
header{
  width: 100%;
  z-index: 999;
  transition: 0.3s;
  position: fixed;
  top: 0;
}

.scroll{
  transition: 0.3s;
  background-color: var(--White);
}

header a{
 transition: 0.3s;
 transform: scale(1);
 border-radius: 30px;
 border: 1px solid transparent;
}

header a:hover{
  transition: 0.3s;
  transform: scale(0.9);
  color: var(--Orange) !important;
  border: 1px solid var(--Orange);
}

header .mobile, .hambuger {
  display: none;
}


/************* Banner component styling *************/
.Banner{
  background: linear-gradient(rgba(0, 0, 0, 0.8), 
  rgba(0, 0, 0, 0.8)), 
  url('../../asserts/images/222.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.Banner h1 {
  color: var(--Light-Green);
  opacity: 0.3;
}


/************* Button component styling *************/
button, .btn{
  border-radius: 30px !important;
  background: var(--Orange);
  border: none !important;
  transition: 0.3s;
}

button:hover{
 background: #15242b !important;
}

/********** Animation Effect **********/
.hidden { 
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}




@media(max-width: 772px) { /*** Mobile screen styling  ***/
  /***** Navbar moblie styling  ****/
  header .hambuger {
    display: block;
  }
  header .desktop {
    display: none;
  }
  
  header ul{
    list-style: none;
  }

  .mobile{
    display: none;
  }

  header .mobile .d-flex {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    width: 100% !important;
    left: 0;
    padding: 3em;
    background-color: #15242b;
    top: 4.2em;
    z-index: 999;
  }

  /******* Banner Moblie styling  *******/
  .Banner p{
    text-align: center;
  }

  p{
    text-align: justify;
  }
}